<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COD Stat Show Page</title>
</head>
<body>
   <h1>COD Show Page</h1>
   <h2>Rank: <%=codstats.rank %></h2>   
   <h2>Kills: <%=codstats.kills %></h2>
   <h2>Deaths: <%=codstats.deaths %></h2>
   <h2>Assists: <%=codstats.assists %></h2>
   <h2>Wins: <%=codstats.wins %></h2>
   <h2>Loses: <%=codstats.loses %></h2>





</body>
</html>